/* reset */
* {
    margin: 0;
    padding: 0;
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}
img {
    vertical-align: top;
    border: 0;
}
body {
    color: #000000;
}

/* 레이아웃 */
.wrap {
    width: 1920px;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 1080px;
    position: relative;
    z-index: 10;
    background-color: #ffffff;
}
header .header_box {
    width: 100%;
    height: 1080px;
    position: relative;
}
header .header_box h1 {
    float: left;
    width: 65px;
    height: 64px;
}
header .header_box h1 img {
    position: absolute;
    left: 72px;
    top: 12px;
    width: 65px;
    height: 64px;
    z-index: 10;
    /* transition: all 0.5s linear; */
}
header .header_box h1 img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    /* transform: rotate(720deg); */
}
header nav {
    float: right;
    width: 830px;
    padding-top: 29px;
    padding-right: 406px;
}
header .header_box ul.gnb {
    width: 100%;
    text-align: center;
}
header .header_box ul.gnb>li {
    float: left;
    width: 10%;
    position: relative;
    padding-right: 50px;
    z-index: 10;
}
header .header_box ul.gnb>li>a {
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    color: #9BA695;
    box-sizing: border-box;
    border-left: 0;
}
header .header_box ul.gnb>li:hover>a {
    font-size: 17px;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #9BA695;
}
header .header_box .green_box {
    width: 915px;
    height: 1080px;
    background-color: rgba(39, 72, 62, 0.9);
    position: relative;
}
header .header_box .green_box .leaf_img {
    position: absolute;
    right: 207px;
    top: 248px;
}
header .header_box .green_box li {
    position: absolute;
    left: 184px;
    top: 367px;
    color: #fff;
    font-size: 80px;
}
header .header_box .green_box p {
    position: absolute;
    left: 184px;
    top: 483px;
    color: #fff;
    font-size: 20px;
    padding-top: 20px;
}
header .header_box .process_btn {
    position: absolute;
    left: 184px;
    top: 600px;
    width: 140px;
    height: 42px;
    text-align: center;
    font-size: 16px;
    line-height: 42px;
    color: #fff;
    background: rgba(171, 190, 162, 0.6);
    border: 2px solid transparent; 
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}
header .header_box .process_btn:hover::before {
    width: 100%;
}
header .header_box .process_btn::before {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    content: '';
    width: 0%;
    height: 1px;
    background: #fff;
    box-shadow: inset 0px 0px 0px #fff;
    transition: all 0.4s;
}
header .header_box .process_btn:hover::after {
    width: 100%;
}
header .header_box .process_btn::after {
    display: block;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 0%;
    height: 1px;
    background: #fff;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}
header .header_box .process_btn:hover {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

header .header_box .port_btn {
    position: absolute;
    left: 374px;
    top: 600px;
    width: 140px;
    height: 42px;
    text-align: center;
    font-size: 16px;
    line-height: 42px;
    color: #fff;
    /* background: rgba(39, 72, 62, 0.9); */
    background: #203C33;
    border: 2px solid transparent; 
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}
header .header_box .port_btn:hover::before {
    width: 100%;
}
header .header_box .port_btn::before {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    content: '';
    width: 0%;
    height: 1px;
    background: #fff;
    box-shadow: inset 0px 0px 0px #fff;
    transition: all 0.4s;
}
header .header_box .port_btn:hover::after {
    width: 100%;
}
header .header_box .port_btn::after {
    display: block;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 0%;
    height: 1px;
    background: #fff;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}
header .header_box .port_btn:hover {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
header .header_box .barcode_txt {
    position: absolute;
    left: 700px;
    top: 1000px;
}
header .header_box .barcode_txt li {
    font-size: 64px;
    font-weight: medium;
    font-family: 'Libre Barcode 128 Text', cursive;
    color: #fff;
}
header .header_box .main_img {
    position: absolute;
    left: 915px;
    top: 0;
}